<div class="container">
  <div class="cv">
    <div class="row">
      <div class="col-12 bg-dark cv-main d-flex justify-content-center align-items-center flex-column">
        <h1 class="mt-4">SEAN SMITH</h1>
        <h2 class="mt-4">MARKETING EXECUTIVE</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 bg-info p-4">
        <h3>Contact</h3>
        <p>11-3643-3247</p>
        <p>seansmith@gmail.com</p>
        <p>www.sansean.com</p>
        <p>linkedin.com/seansmith</p>

        <div class="separador">
          <hr>
        </div>

        <h3>Contact</h3>
        <p>11-3643-3247</p>
        <p>seansmith@gmail.com</p>
        <p>www.sansean.com</p>
        <p>linkedin.com/seansmith</p>

      </div>

      <div class="col-8 bg-light p-4">
        <h3>Profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>

        <div class="separador">
          <hr>
        </div>

        <h3>Profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <div class="separador">
          <hr>
        </div>

        <h3>Profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <div class="separador">
          <hr>
        </div>

        <h3>Profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <div class="separador">
          <hr>
        </div>

        <h3>Profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda beatae cupiditate deleniti dicta
          dignissimos, eum illum iusto libero maiores molestiae nostrum omnis possimus quibusdam quis quo reprehenderit
          tempore veritatis.
        </p>

      </div>

    </div>
  </div>
</div>
