<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="4" [rowspan]="2" [style.background]="'black'"><h1>header data</h1></mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="4" [style.background]="'black'">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'black'">footer data</mat-grid-tile>
</mat-grid-list>
<!--<div class="cv d-flex flex-column" >
  <div class="header"><h1>header</h1></div>
  <div class="body d-flex">
    <div class="data"><h1>data</h1></div>
    <div class="info"><h1>info</h1></div>
  </div>
</div>-->
